# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

./ClientApplication/src/main/resources/static/js/firebase-service-account.json

./ClientApplication/target/
*.jar

